
*{
    margin: 0px;        
    padding: 0px;
    box-sizing: border-box;
    color:#0D1321;
    text-decoration: none;
    background-color: #ffffff;


}

.azeret-mono {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }
  

body{
    font-family:"Azeret Mono";
    width: 1440px;
    background-color: white;
}
/* nav section start from here */
header nav ul{
    list-style: none;
    font-family: "Azeret-Mono";
    padding: 10px 80px;

}
.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 50px;
    margin: 20px 40px;

}
.download-btn{
    font-size: 20px;
    font-weight: 600;
    padding: 10px 24px;
    cursor: pointer;
    border-color:#0D1321;
    border-radius: 8px;
    height: 57px;
    width: 244px;
}

.nav-item{
    font-size: 28px;
    font-weight: 800;
}

/* banner content start from here  */

.banner {
    text-align: center;
    background: #fff;
    padding: 40px 200px;
    margin-bottom: 20px;
    background-image:url(assets/Hero-bg.png);

}

.boy-img {
    width: 240px;
    background: transparent;
    /* for transparent background */
    
    
}
.banner-title{
    font-size: 68px;
    font-weight: 800;
    background: transparent;
    
}
.banner-paragraph{
    font-size: 16px;
    font-weight:400;
    margin:20px 40px;
    background: transparent;
}

.contact-btn{
    font-size: 20px;
    font-weight: 600;
    padding: 10px 24px;
    cursor: pointer;
    border-color:#0D1321;
    border-radius: 8px;
    background-color: #0D1321;
    color: white;
    height: 65px;
    width: 244px;

}
/* paragraph used multiple time for paragraph */

.paragraph{
    font-size: 16px;
    font-weight:400;

}


.common-title{
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin: 30px;

}

.title-box{
    width: 852px;   
    text-align: center;



}

.why-web-devlopment{

    padding: 90 97px;
    margin: 0px 80px 100px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    background-color: rgba(13, 19, 33, 0.02);
    background: transparent;
}

.learn-more-btn{
    height: 47px;
    width: 171px;
    border-color: #0D1321;
    padding: 13px 20px;
    font-size: 20;
    font-weight: 600;
    margin-top: 30px;
    cursor: pointer;


}

.box-with-img{
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
    box-shadow: 0 4px 8px #f6f7f8;

    
    
}

.common-title-lite{
    font-size: 24px;
    font-weight: 600;
    width: 500px;
    margin:20px 0px;
    color: rgba(13, 19, 33, 0.7);
}

/* inspiration section start from here  */
.inspiration{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 100px;
    border: 100px;
    padding: 50px;

}


.text-box-inspiration{
    margin: 30px;
    padding: 10px 50px;
    text-align: center;
    
}

.video{
    padding: 20px;
    border: 10px;
    border-radius: 20px;
}

/* almost done inspiration section */



.terget-container{
    display: flex;
    justify-content:space-between;


}

.target-box{
    width: 284px;
    text-align:center;
    
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align:left;
    width: 30%;


}   

.red{
    background-color: rgba(255, 76, 30, 0.05); 
}
.blue{
    background-color: rgba(0, 76, 232, 0.05); 
}
.yollow{
    background-color: rgba(255, 223, 0, 0.05);
}

.target-title{
    font-size: 36px;
    font-weight: 800;
    color: #0D1321;
    margin: 10px 10px 10px 0px;
    background: transparent;
    


}

.dark{
    color: #0D1321;
}



.current-target{
    padding: 90px 97px;
    margin: 0px 80px 100px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}


.learn-more{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 0px;
    color: #0D1321;
    text-decoration:underline;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    width: 284px;
    text-align: left;
    background: transparent;


}
.center{
    text-align: center;
}
.left{
    text-align: left;
}

/* my-next-target starts from here  */

.my-next-target{
    padding: 90px 97px;
    margin: 0px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

}

.target-box2 {
    display: flex;
    align-items: center;
    background-color: #ffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;

}

.skill-icon {
    margin-right: 20px;
}


/* i-need-support section start from here  */

.i-need-support{
    background-image:url(assets/handshake.jpg);
    padding: 97px 97px;
    margin: 20px 200px;
    border-radius: 16px;
    background-size: cover;
    background-position: center;


}

.i-need-support h2,p{
    color: white;
    background:transparent;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;


}

.submit-btn {
    width: 120px;
    height: 57px;
    padding: 10px 20px;
    color: #0D1321;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight:500;
    cursor: pointer;

}

.text-area {
    width: 545px;
    height: 57px;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 16px;
    resize: none;
}

.btn-section-box{
    background: transparent;
    display: flex;
    gap: 10px;
    justify-content: center;

}

/* footer section start from here  */

.footer{
    margin: 40px 200px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
}

.footer-icon{
    display: flex;
    gap: 20px;

}

.footer-title{
    font-size: 20px;
    font-weight:600;
}