
*{
    margin: 0px;        
    padding: 0px;
    box-sizing: border-box;
    color:#0D1321;
    text-decoration: none;
    background-color: #ffffff;

}

.azeret-mono {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }
  

body{
    font-family:"Azeret Mono";
    
    width: 1440px;
}
/* nav section start from here */
header nav ul{
    list-style: none;
    font-family: "Azeret-Mono";
    padding: 10px 80px;

}
.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 50px;
    margin: 20px 40px;

}
.download-btn{
    font-size: 20px;
    font-weight: 600;
    padding: 10px 24px;
    cursor: pointer;
    border-color:#0D1321;
    border-radius: 8px;
    height: 57px;
    width: 244px;
}

.nav-item{
    font-size: 28px;
    font-weight: 800;
}

/* banner content start from here  */

.banner {
    text-align: center;
    background: #fff;
    padding: 40px 200px;
    margin-bottom: 20px;
    background-image:url(assets/Hero-bg.png);

}

.boy-img {
    width: 240px;
    background: transparent;
    /* for transparent background */
    
    
}
.banner-title{
    font-size: 68px;
    font-weight: 800;
    background: transparent;
    
}
.banner-paragraph{
    font-size: 26px;
    font-weight:400;
    margin:20px 40px;
    background: transparent;
}

.contact-btn{
    font-size: 20px;
    font-weight: 600;
    padding: 10px 24px;
    cursor: pointer;
    border-color:#0D1321;
    border-radius: 8px;
    background-color: #0D1321;
    color: white;
    height: 65px;
    width: 244px;

}
/* paragraph used multiple time for paragraph */

.paragraph{
    font-size: 26px;
    font-weight:400;

}


.common-title{
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin: 30px;

}

.title-box{
    width: 852px;   
    text-align: center;



}

.why-web-devlopment{

    padding: 90 97px;
    margin: 0px 80px 100px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    /* background-color: #adc8f7; */
}

.learn-more-btn{
    height: 47px;
    width: 171px;
    border-color: #0D1321;
    padding: 13px 20px;
    font-size: 20;
    font-weight: 600;
    margin-top: 30px;


}

.box-with-img{
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
    box-shadow: 0 4px 8px #f6f7f8;

    
    
}

.common-title-lite{
    font-size: 36px;
    font-weight: 700;
    width: 500px;
    margin:20px 0px;
}

/* inspiration section start from here  */
.inspiration{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 100px;
    border: 100px;
    padding: 50px;

}


.text-box-inspiration{
    margin: 30px;
    padding: 10px 50px;
    text-align: center;
    
}

.video{
    padding: 20px;
    border: 10px;
    border-radius: 20px;
}

/* almost done inspiration section */